.agc-mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 9005;
  background-color: #fffffffe;
  transition: all .4s;

  @media screen and (min-width: 900px) {
    display: none;
  }

  &.--hidden {
    left: -125%;
    opacity: 0;
  }
}

// Mobile Nav Top Section

.agc-mobile-nav-content {
  position: relative;
  width: 100%;
  padding: 5vh 5%;
  display: flex;
  flex-direction: column;

  .agc-mobile-nav-logo {
    max-width: 400px;
    margin: 0 auto;
  }

  .agc-mobile-nav-links {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .agc-mobile-nav-link {
    font-size: 15px;
    margin: 2vh 0;

    @media #{$tablet-only} {
      font-size: 18px;
    }

    &:last-child {
      margin-bottom: 5vh;
    }
  }

  // UNIQUE OVERRIDE APPROVED

  .agcap-title-line {
    margin-bottom: 15px;
  }

  .agcap-btn {
    @media screen and (max-width: 379px) {
      font-size: vw-phone(12);
    }
  }
}

.agc-mobile-nav-button {
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 2px;
  cursor: pointer;
  
  i {
    color: $color-agcap-red;
    font-size: 28px;
    cursor: pointer;

    @media #{$phone-only} {
      font-size: 22px;
    }
  }

  &:active {
    i {
      color: darken($color-agcap-red, 10%);
    }
  }
}

// Mobile Nav Bottom Section

.agcap-mobile-nav-footer {
  width: 100%;
  height: 100vh;
  background-color: $color-agcap-navy;
  padding: 5vh 8% 0;

  img {
    display: block;
    margin: 0 auto 5vh;
  }

  p {
    text-align: center;
  }
}
