// ABOUT: PAGE WRAPPER

.agc-about-page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  @media #{$desktop-up} {
    padding-top: 150px;
  }
}

//  ABOUT: INTRO SECTION

section.agc-about-intro {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 35px;
  padding-top: 10px;

  @media #{$tablet-only} {
    margin-bottom: 50px;
  }

  @media #{$laptop-only} {
    margin-bottom: 85px;
  }

  @media #{$desktop-up} {
    margin-bottom: 75px;
  }

  // SINGLE INSTANCE OF h1 MARGIN APPROVED

  h1 {
    @media #{$desktop-up} {
      margin-bottom: 35px;
    }
  }
}

.agc-intro-text {
  width: 100%;
  padding: 20px 8% 25px;

  @media #{$tablet-only} {
    padding: 50px 8%;
  }

  @media #{$laptop-up} {
    width: 60%;
    padding: 30px 85px 0 8%;
  }

  @media #{$desktop-up} {
    padding: 30px 110px 0 16%;
  }
}

.agc-intro-content {
  position: relative;
  height: auto;
  display: flex;
  justify-content: flex-end;
  width: 100%;

  @media #{$laptop-up} {
    width: 40%;
  }

  .agc-intro-purpose {
    background: $color-agcap-navy;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 30px 8%;
    margin: 0;

    @media #{$tablet-only} {
      top: 0;
      width: 84%;
      padding: 45px 25px 25px;
      margin: 0 8%;
    }

    @media #{$laptop-up} {
      top: 140px;
      width: 410px;
      padding: 25px 25px 25px 30px;
    }

    // UNIQUE LINE HEIGHT APPROVED

    p {
      line-height: 115%;
    }
  }

  .agc-img-box {
    position: relative;
    background-color: $color-agcap-red;
    background-repeat: no-repeat;
    background-image: url('/about-field-mountains.png');
    background-size: cover;
    width: 100%;
    height: 660px;
    margin: 110px 0 0;
    box-shadow: $agcap-img-shadow;

    @media #{$phone-only} {
      background-size: 175%;
      background-position: 35% bottom;
    }

    @media #{$tablet-only} {
      height: 440px;
    }

    @media #{$laptop-up} {
      height: 800px;
      margin: 0 0 0 10%;
      border-radius: 4px 0 0 4px;
    }

    @media #{$desktop-only} {
      height: 900px;
    }
  }
}

// Toggle Logic

.agc-intro-vision-alpha {
  display: none;

  @media #{$laptop-up} {
    display: block;
    padding-top: 40px;
  }

  a {
    margin-top: 15px;
  }



}

.agc-intro-vision-omega {
  display: block;
  margin: 55px 8% 0;

  h2 {

    text-transform: capitalize;

  }

  @media #{$tablet-only} {
    margin-top: 60px;
  }

  @media #{$laptop-up} {
    display: none;
  }

  // UNIQUE OVERRIDE APPROVED

  .agcap-title-line {
    margin-bottom: 25px;
  }
}

// ABOUT: BANNER SECTION

section.agc-about-banner {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.agc-banner-image {
  z-index: 1;
  background-color: $color-agcap-red;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/about-eggs.png');
  width: 84%;
  height: 210px;
  border-radius: 4px;

  @media #{$tablet-only} {
    height: 450px;
    background-position: center;
  }

  @media #{$laptop-only} {
    height: 525px;
  }

  @media #{$desktop-up} {
    height: 678px;
  }
}

.agc-banner-bg {
  z-index: -1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  background-color: $color-agcap-bluealpha;
}

// ABOUT: BIO SECTION

section.agc-about-bio {
  background: $color-agcap-bluealpha;
  position: relative;
  width: 100%;
  height: auto;
  padding: 30px 8% 35px;

  @media #{$tablet-only} {
    padding: 50px 8% 35px;
  }

  @media #{$laptop-only} {
    padding: 85px 16% 35px;
  }

  @media #{$desktop-up} {
    padding: 50px 16% 35px;
  }
}

.agc-bio-blurb {
  margin-bottom: 30px;
}

.agc-bio-box {
  width: 100%;
  display: flex;
  flex-direction: column;

    h4{

      padding-bottom: 10px;

    }

  @media #{$phone-only} {
    // n+3 because the first child is a <p>
    // badboidevtimes, this selects the 2nd bio onward
    &:nth-child( n+3 ) {
      margin-top: 55px;
    }

    &:last-child {
      margin-bottom: 45px;
    }
  }

  @media #{$tablet-only} {
    &:nth-child( n+3 ) {
      margin-top: 75px;
    }

    &:last-child {
      margin-bottom: 65px;
    }
  }

  @media #{$laptop-up} {
    &:nth-child( n+3 ) {
      margin-top: 125px;
    }

    &:nth-child( 2 ) {
      margin-top: 75px;
    }

    &:last-child {
      margin-bottom: 200px;
    }
  }
}

.agc-bio-inner {
  width: 100%;
  display: flex;
  justify-content: space-between;

  @media #{$phone-only} {
    flex-wrap: wrap;
  }

  @media #{$tablet-only} {
    flex-wrap: wrap;
  }



  .agc-bio-image {
    order: 1;
    width: 100%;

    @media #{$phone-only} {
      margin: 0 auto 25px;
    }

    @media #{$tablet-only} {

      width: 100%;

    }

    @media #{$laptop-up} {
      //was 30%
      width: 45%;

    }

    @media #{$desktop-up} {

      width: 45%;

    }




  }



  .agc-bio-image img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    box-shadow: 0 0 7px 0 rgba(12, 12, 12, .2);
    display: block;
  }

  .agc-bio-text {
    width: 100%;
    order: 2;

    @media #{$tablet-only} {

      width: 100%;
      padding: 40px 0 0 0px;
    }

    @media #{$laptop-up} {
      width: 55%;
      padding: 10px 0 0 50px;
    }

    @media #{$desktop-up} {
      width: 55%;
    }
  }

  &.--flip {

    .agc-bio-image {
      order: 2;

      @media #{$phone-only} {
        order: 1;
      }

      @media #{$tablet-only} {
        order: 1;
      }
    }

    .agc-bio-text {
      order: 1;
      padding-left: 0;

      @media #{$phone-only} {
        order: 2;
      }

      @media #{$tablet-only} {
        padding-right: 30px;

      }

      @media #{$laptop-up} {
        padding-right: 50px;
      }
    }
  }
}
