/*
  AGCAP Footer Styles

  AW

*/

.agc-footer {
  background-color: $color-agcap-navy;
}

/*

  Main Styles

*/

.agc-footer-main {
  width: 100%;
  position: relative;

  @media #{$phone-only} {
    display: none;
  }

  @media #{$tablet-only} {
    padding: 0;
  }

  @media #{$laptop-up} {
    padding: 0;
  }
}

// Main Left Styles

.agc-footer-main-left {
  display: flex;
  justify-content: space-between;

  @media #{$laptop-up} {
    padding: 50px 16% 25px 8%;
  }
}

// Main Right Styles

.agc-footer-main-right {
  position: absolute;
  right: 0;
  top: 0;
}

/*

  Bumper Styles

*/

.agc-footer-bumper {
  width: 100%;
  padding: 5px 5%;

  @media #{$laptop-up} {
    padding: 4px 8%;
  }

  span {
    color: $color-agcap-blue;
  }
}
