.agcap-contact-content {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  @media #{$tablet-only} {
    padding: 0;
  }

  @media #{$laptop-up} {
    padding: 0 0 140px 16%;
  }
}

.agcap-contact-content-left {
  width: 100%;
  padding: 0 5% 100px;

  @media #{$tablet-only} {
    padding: 0 8% 100px;
  }

  @media #{$laptop-up} {
    width: 66.6%;
    padding-right: 215px;
  }

  // // DEV ONLY DELETE
  // .agcap-contact-form-container {
  //   height: 5px;
  //   width: 100%;
  //   background-color: red;
  // }
}

.agcap-contact-content-right {
  width: 100%;

  @media #{$laptop-up} {
    width: 33.3%;
  }

  .agcap-contact-image {
    width: 100%;
    background: $color-agcap-navy;
    background-image: url('/contact-machine-arm-plants.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% bottom;
    height: 285px;

    @media #{$tablet-only} {
      height: 585px;
    }

    @media #{$laptop-up} {
      height: 850px;
    }
  }
}

.mdev-error {
  border-top: 4px solid red !important;
  border-bottom: 4px solid red !important;
  color: red!important;
}

.ag-cap-submit{
  font-family: $spec-font;
  text-transform: uppercase;
  color: $color-agcap-navy;
  background-color: $color-agcap-blue;  
  font-weight: $spec-bold;
  font-size: 16px;
  margin-bottom: 15px;
}