.agc-home-page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .agc-home-bg {
    background: $color-agcap-blue;
    opacity: .15;
    z-index: -99;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;   

    @media #{$laptop-up} {
      left: 50%;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
}

// HERO SECTION

section.agc-hero {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;

  @media #{$tablet-only} {
    margin-bottom: 50px;
  }

  @media #{$laptop-only} {
    margin-bottom: 85px;
  }

  @media #{$desktop-up} {
    margin-bottom: 150px;
  }
}

.agc-hero-panel {
  max-height: 800px;
  background: $color-agcap-navy;
  position: absolute;
  top: 0;
  z-index: -50;
  width: 100%;
  height: vw-phone(275);
  left: 0;

  @media #{$tablet-only} {
    width: 100%;
    height: vw-tablet(435);
    left: 0;
  }

  @media #{$laptop-only} {
    width: 92vw;
    height: vw-laptop(600);
    left: 8vw;
  }

  @media #{$desktop-up} {
    width: 92vw;
    height: vw-desktop(800);
    left: 8vw;
  }
}

.agc-hero-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px;
  margin: 45px 0 0 8%;

  @media #{$tablet-only} {
    padding: 0 0 10px;
    margin: 60px 0 0 8%;
  }

  @media #{$laptop-up} {
    padding: 0 0 25px 8%;
    margin: 85px 0 0 8%;
  }

  @media #{$desktop-up} {
    padding: 0 0 25px 8%;
    margin: 85px 0 0 8%;
  }
}

.agc-hero-image {
  position: relative;
  max-width: 1440px;
  width: 200%;
  left: -50%;
  margin: 0;

  @media #{$tablet-only} {
    width: 84%;
    left: 0;
    margin: 0 8%;
  }

  @media #{$laptop-up} {
    width: 75%;
    left: 8%;
    margin: 0 0 0 8%;
  }
}

// Approach Section


/* Dev Note: I use section selector once per section
 to make it easy to identify the root styles like so: */

section.agc-home-approach {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @media #{$tablet-only} {
    margin-bottom: 50px;
  }

  @media #{$laptop-only} {
    margin-bottom: 85px;
  }

  @media #{$desktop-up} {
    margin-bottom: 150px;
  }
}

.agc-approach-text {
  width: 100%;
  padding: 0 8% 30px;

  @media #{$tablet-only} {
    padding: 0 8% 50px;
  }

  @media #{$laptop-up} {
    width: 40%;
    padding: 45px 25px 0 16%;
  }

  @media #{$desktop-up} {
    padding: 50px 35px 0 16%;
  }
}

.agc-approach-image {
  margin: 0 auto;
  width: 84%;

  @media #{$laptop-up} {
    margin: 0;
    width: 60%;
  }

  img {
    max-width: 1150px;
    width: 100%;
  }
}
