// HOME: PAGE WRAPPER + BG ELEMENT !~

.agc-home-page {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .agc-home-bg {
    background: $color-agcap-bluealpha;
    z-index: -99;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 50%;
    width: 100%;

    @media #{$laptop-up} {
      left: 50%;
      top: 0;
      height: 100%;
      width: 50%;
    }
  }
}

//  HOME: HERO SECTION

/* Dev Note: I use section selector once per section
 to make it easy to identify the root styles like so: */

section.agc-hero {
  position: relative;
  width: 100%;
  height: auto;
  margin-bottom: 50px;

  @media #{$tablet-only} {
    margin-bottom: 75px;
  }

  @media #{$laptop-only} {
    margin-bottom: 120px;
  }

  @media #{$desktop-up} {
    margin-bottom: 150px;
  }
}

.agc-hero-panel {
  max-height: 800px;
  background: $color-agcap-navy;
  position: absolute;
  top: 0;
  z-index: -50;
  width: 100%;
  height: vw-phone(275);
  left: 0;

  @media #{$tablet-only} {
    width: 100%;
    height: vw-tablet(435);
    left: 0;
  }

  @media #{$laptop-only} {
    width: 92vw;
    height: vw-laptop(600);
    left: 8vw;
  }

  @media #{$desktop-up} {
    width: 92vw;
    height: vw-desktop(700);
    left: 8vw;
  }
}

.agc-hero-text {
  display: flex;
  flex-direction: column;
  padding: 0 0 25px;
  margin: 45px 0 0 8%;

  @media #{$tablet-only} {
    padding: 0 0 10px;
    margin: 60px 0 0 8%;
  }

  @media #{$laptop-up} {
    padding: 0 0 25px 8%;
    margin: 85px 0 0 8%;
  }
}

.agc-hero-image {
  background-color: $color-agcap-red;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('/home-hero-field-graph.png');
  position: relative;
  width: 200%;
  left: -50%;
  margin: 0;
  height: vw-phone(345);
  border-radius: $standard-radius;
  box-shadow: $agcap-img-shadow;

  @media #{$tablet-only} {
    width: 84%;
    left: 0;
    margin: 0 8%;
    height: vw-tablet(345);
  }

  @media #{$laptop-up} {
    width: 75%;
    margin: 0 0 0 8%;
    left: 8%;
    height: vw-laptop(515);
  }

  @media #{$desktop-up} {
    max-width: 1440px;
    max-height: 650px;
    height: vw-desktop(625);
  }
}
