// Global Form Styles
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border: 2px solid red !important;
  color: red!important;
}

$form-font: $spec-font;
$border-color: #d7d7d7;
$color-placeholder: #a7a7a7;

label {
  font-family: 'AktivGrotesk', sans-serif;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #36384b;
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;

  &:first-child {
    margin-top: 30px;
  }
}

input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    border-radius: 0;
    font-family: $form-font;
    padding: 21px 20px;
    margin-bottom: 15px;
    border: 1px solid $border-color;
    font-weight: 100;
    font-size: 18px;

    &::placeholder {
      color: $color-placeholder;
      font-weight: 100;
    }
  }
}

textarea {
  width: 100%;
  border-radius: 0;
  border-width: 1px;
  font-family: $form-font;
  padding: 21px 20px;
  min-height: 180px;
  margin-bottom: 18px;
  border-color: $border-color;
  font-weight: 100;
  font-size: 18px;
  resize: none;
  outline: 0;

  &::placeholder {
    color: $color-placeholder;
    overflow: auto;
  }
}


/* stylelint-enable */

/* Form Scaffolding */

.mdev-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.mdev-action-group {
  width: 100%;
  position: relative;
}
