// Global Form Styles
form {
  width: 100%;
  position: relative;
}


/* stylelint-disable */
/* Disabled because it is valid and I need this level of control*/
.mdev-error {
  border-top: 4px solid red !important;
  border-bottom: 4px solid red !important;
  color: red!important;
}

$form-font: $spec-font;
$border-color: #d7d7d7;
$color-placeholder: #36384b;

label {
  width: 54px;
  height: 12px;
  font-family: AktivGrotesk;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #36384b;
}

input {
  &[type="text"],
  &[type="email"],
  &[type="tel"],
  &[type="password"],
  &[type="search"],
  &[type="url"] {
    width: 100%;
    border-radius: 0;
    border-width: 1px;
    font-family: $form-font;
    padding: 20px 0;
    margin-bottom: 15px;
    border-color: $border-color;
    font-size: 16px;
    outline: 0;

    &::placeholder {
      color: $color-placeholder;
      padding: 25px 0 25px 21px;
      font-weight: 100;
    }
  }
}

textarea {
  width: 100%;
  border-radius: 0;
  border-width: 1px;
  font-family: $form-font;
  padding: 20px 0 115px;
  margin-bottom: 18px;
  border-color: $border-color;
  font-size: 16px;
  resize: none;
  outline: 0;

  &::placeholder {
    color: $color-placeholder;
    padding: 10px 0 25px 21px;
    overflow: auto;
  }
}


/* stylelint-enable */

/* Form Scaffolding */

.mdev-form-group {
  width: 100%;
  position: relative;
  text-align: left;
}

.mdev-action-group {
  width: 100%;
  position: relative;
}
