/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

$main-font: 'Libre Baskerville', serif;
$heading-weight: 400;
$heading-bold: 700;

$spec-font: proxima-nova, sans-serif;
$spec-italic: 300;
$spec-weight: 400;
$spec-bold: 600;


/* Main */
body {
  font-family: $spec-font;
  font-style: normal;
  font-size: 16px;
  color: $color-agcap-navy;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
}

// Responsive Font Size Maps

$p-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

$h1-font-sizes: (
  null  : 30px,
  $tablet-up  : 40px
);

$h2-font-sizes: (
  null  : 22px,
  $tablet-up  : 30px
);

$h3-font-sizes: (
  null  : 35px,
  $tablet-up  : 45px
);

$h4-font-sizes: (
  null  : 18px,
  $tablet-up  : 24px
);

$h5-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

$h6-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

// Buttons

$button-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

a,
p {
  line-height: 100%;
  font-weight: 300;
  color: $color-agcap-body;
  @include font-size($p-font-sizes);
  margin-bottom: 15px;

  b {
    font-weight: $spec-bold;
  }

  em {
    font-weight: $spec-italic;
    font-style: italic;
  }
}

a {
  cursor: pointer;
}

h1,
.h1 {
  color: $white;
  font-weight: $heading-bold;
  @include font-size($h1-font-sizes);
  margin-bottom: 15px;
}

h2,
.h2 {
  color: $color-agcap-navy;
  font-weight: $heading-bold;
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  color: $color-agcap-navy;
  font-weight: $heading-bold;
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  color: $color-agcap-body;
  font-weight: $heading-weight;
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  font-family: $spec-font;
  text-transform: uppercase;
  color: $color-agcap-blue;
  font-weight: $spec-bold;
  @include font-size($h5-font-sizes);
  margin-bottom: 15px;
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

.agcap-btn {
  @include font-size($button-font-sizes);
}

/* Link Reset / Base Inherit */

a {
  font-family: $spec-font;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}

/* The following styles are for pre-dev only: */

.typography-page {
  // To give white text something to stand on
  background: $color-agcap-grey;

  // Padding for visibility
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  a {
    padding: 15px;
  }

  // Typography span styles, acts as section seperator
  span {
    margin: 30px 0;
    background: $color-agcap-red;
    width: 100%;
    color: $color-agcap-grey;
    font-weight: $spec-bold;
    font-size: 24px;
    display: block;
    padding: 3px 5px;
  }

  // This is specifically to showcase the underlined title styles, strips some default styles on purpose

  .agcap-title-example {
    margin: 50px 30px;
    border: 1px solid #000;
    width: 50%;
    padding: 35px;

    h2,
    h4 {
      padding: 0;
    }
  }
}

/* End of pre-dev styles */
