/*-------------------------------------
 *	TYPOGRAPHY
/-------------------------------------*/

/* Imports */

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');

$main-font: 'Libre Baskerville', serif;
$heading-weight: 400;
$heading-bold: 700;

$spec-font: 'ProximaNova', sans-serif;
$spec-weight: 300;
$spec-bold: 500;

/* Main */
body {
  font-family: $spec-font;
  font-size: 16px;
  color: $color-agcap-navy;
}

/* Headings & Body Copy */

/* Reset Fonts */

/* Disabled because the new line rule was not intended for these cases */
/* stylelint-disable */
h1,.h1,
h2,.h2,
h3,.h3,
h4,.h4,
h5,.h5,
h6,.h6, {
  font-family: $main-font;
  margin-bottom: 25px;
}

// Responsive Font Size Maps

$p-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

$h1-font-sizes: (
  null  : 30px,
  $tablet-up  : 40px
);

$h2-font-sizes: (
  null  : 22px,
  $tablet-up  : 30px
);

$h3-font-sizes: (
  null  : 35px,
  $tablet-up  : 45px
);

$h4-font-sizes: (
  null  : 18px,
  $tablet-up  : 24px
);

$h5-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

$h6-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

// Buttons

$button-font-sizes: (
  null  : 15px,
  $tablet-up  : 20px
);

// Responsive Font-Size Mixing (Function Only)
@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
      @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    }
    @else {
      @media #{$fs-breakpoint} {
        font-size: $fs-font-size;
      }
    }
  }
}

/* stylelint-enable */

/* Generate Responsive Sizing */

p {
  line-height: 100%;
  font-weight: 300;
  color: $color-agcap-body;
  margin-bottom: 5px;
  @include font-size($p-font-sizes);

  b {
    font-weight: $spec-bold;
  }

  em {
    font-family: italic;
  }
}

h1,
.h1 {
  color: $white;
  font-weight: $heading-bold;
  @include font-size($h1-font-sizes);
}

h2,
.h2 {
  color: $color-agcap-navy;
  font-weight: $heading-bold;
  @include font-size($h2-font-sizes);
}

h3,
.h3 {
  color: $color-agcap-navy;
  font-weight: $heading-bold;
  @include font-size($h3-font-sizes);
}

h4,
.h4 {
  color: $color-agcap-body;
  font-weight: $heading-weight;
  @include font-size($h4-font-sizes);
}

h5,
.h5 {
  font-family: $spec-font;
  text-transform: uppercase;
  color: $color-agcap-blue;
  font-weight: $spec-bold;
  @include font-size($h5-font-sizes);
}

h6,
.h6 {
  @include font-size($h6-font-sizes);
}

.agcap-btn {
  @include font-size($button-font-sizes);
}

/* Link Reset / Base Inherit */

a {
  font-family: $spec-font;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: none;
    color: inherit;
  }
}
