/*-------------------------------------
 * UTITLITIES
/-------------------------------------*/

//Text Utilities

.u-uppercase {
  text-transform: uppercase;
}

.u-lowercase {
  text-transform: lowercase;
}

.u-capitalize {
  text-transform: capitalize;
}

.u-text-left {
  text-align: left;
}

.u-text-right {
  text-align: right;
}

.u-text-center {
  text-align: center;
}

.u-align-top {
  vertical-align: top;
}

.u-align-bottom {
  vertical-align: bottom;
}

.u-align-middle {
  vertical-align: middle;
}

.u-heading-weight {
  font-weight: 700;
}

.u-bold {
  font-weight: 700;
}

.u-black {
  font-weight: 900;
}

.u-ultralight {
  font-weight: 100;
}

.u-light {
  font-weight: 300;
}

.u-italic {
  font-style: italic;
}
/* Disabling because of !important */
/* stylelint-disable */
.u-hidden-phone {
  @media #{$phone-only} {
    display: none !important;
  }
}

.u-hidden-tablet {
  @media #{$tablet-only} {
    display: none !important;
  }
}

.u-hidden-desktop {

  @media #{$tablet-up} {
    display: none !important;
  }
}

.u-screenreader {
  width: 0!important;
  height: 0!important;
  transform: scaley(0);
  opacity: 0!important;
  position: absolute !important;
  top: -9999px;
  left: -9999px;
  visibility: hidden!important;
}


.u-transparent {
  opacity: 0 !important;
}
/* stylelint-enable */

.u-hidden {
  display: none;
}

.u-freeze-scroll {
  height: 100vh;
  overflow: hidden;
}

.u-truncate {
  @include truncate('100%');
}

.clear {
  @include clearfix();
}

.u-no-select {
  user-select: none;
}

// Color Utilities

.u-red {
  color: $color-agcap-red;
}

.u-blue {
  color: $color-agcap-blue;
}

.u-navy {
  color: $color-agcap-navy;
}

.u-grey {
  color: $color-agcap-grey;
}

.u-white {
  color: $white;
}

.u-black {
  color: $black;
}

.u-bg-red {
  background-color: $color-agcap-red;
}

.u-bg-blue {
  background-color: $color-agcap-blue;
}

.u-bg-navy {
  background-color: $color-agcap-navy;
}

.u-bg-grey {
  background-color: $color-agcap-grey;
}

// Body Utilities

.--body-medium {
  font-style: italic;
  font-weight: $spec-italic;
  font-size: 18px;

  @media #{$tablet-up} {
    font-size: 24px;
  }
}

.--body-large {
  font-size: 18px;

  @media #{$tablet-up} {
    font-size: 30px;
  }
}

// List Utilities

.u-ghostlist {
  list-style-type: none;
}

// Order Utilities

.u-first {
  order: 1;
}

.u-second {
  order: 2;
}
