/*-------------------------------------
 * VARIABLES - PROJECT WIDE
/-------------------------------------*/

// Generic colors

$black: #000;
$white: #fff;

// Brand Colors

$color-agcap-red: #90181b;
$color-agcap-blue: #9eb0cd;
$color-agcap-bluealpha: #9eb0cd38;
$color-agcap-navy: #233039;
$color-agcap-navyalpha: #23303930;
$color-agcap-grey: #f1f3f7;

$color-agcap-body: #181719;

// Main Font

/* Font variables now live in typography.scss! */

// Sizing Variables

// Spacing Variables

// Button Variables

// Radius Variables

$standard-radius: 4px;

//Clipping Paths

//Shadows
$agcap-img-shadow: 0 0 7px 0 rgba(12, 12, 12, 0);
